---

---

<section id="experience" class="py-20">
  <h2 class="text-3xl md:text-4xl font-bold text-center mb-12">
    My Experience
  </h2>
  <div class="container mx-auto px-6 sm:px-8 lg:px-12">
    <div class="max-w-3xl mx-auto">
      <ol class="relative border-l border-accent">
        <li class="mb-10 ml-6">
          <span
            class="absolute -left-3 flex items-center justify-center w-6 h-6 bg-accent rounded-full ring-8 ring-primary"
          ></span>
          <h3 class="flex items-center mb-1 text-xl font-semibold">
            IT & Programming Teacher
            <span
              class="bg-accent/20 text-accent text-xs font-medium mr-2 px-2.5 py-0.5 rounded ml-2"
              >September 2024 - Present</span
            >
          </h3>
          <p class="mb-2 text-base font-normal text-gray-400">
            Colegiatura del Café
          </p>
          <p class="text-sm text-gray-500">
            I teach to 10th and 11th grade students core concepts of computing
            and basic IT tools
          </p>
        </li>
        <li class="mb-10 ml-6">
          <span
            class="absolute -left-3 flex items-center justify-center w-6 h-6 bg-accent rounded-full ring-8 ring-primary"
          ></span>
          <h3 class="flex items-center mb-1 text-xl font-semibold">
            Freelance Backend Developer
            <span
              class="bg-accent/20 text-accent text-xs font-medium mr-2 px-2.5 py-0.5 rounded ml-2"
              >January 2025 - February 2024</span
            >
          </h3>
          <p class="mb-2 text-base font-normal text-gray-400">
            Soluciones en la nube XaraSoft
          </p>
          <p class="text-sm text-gray-500">
            I contributed to the development of an accounting software for
            schools perfoming +20 crud operations
          </p>
        </li>
        <li class="mb-10 ml-6">
          <span
            class="absolute -left-3 flex items-center justify-center w-6 h-6 bg-accent rounded-full ring-8 ring-primary"
          ></span>
          <h3 class="flex items-center mb-1 text-xl font-semibold">
            Junior Fullstack Developer
            <span
              class="bg-accent/20 text-accent text-xs font-medium mr-2 px-2.5 py-0.5 rounded ml-2"
              >June 2023 - March 2024</span
            >
          </h3>
          <p class="mb-2 text-base font-normal text-gray-400">
            Humphrey Consulting Group
          </p>
          <p class="text-sm text-gray-500">
            Improved compliance management for 200+ users by implementing new
            doctypes in Frappe Framework and design patterns, reducing
            processing time by 30%. Achieved 40% cost savings, 60% faster
            support with ZOHO chat and resolved 30+ critical API issues.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
