<section
  id="hero"
  class="min-h-[80vh] flex flex-col items-center justify-center text-center py-16"
>
  <h1 class="text-5xl md:text-7xl font-bold mb-10 animate-fade-in font-sora">
    Hello!, I'm <span class="text-accent">Jeronimo</span>
  </h1>
  <p
    class="text-2xl md:text-3xl font-domine md:px-20 text-gray-300 mb-12 animate-slide-up leading-relaxed tracking-wide"
  >
    Full Stack & AI Developer
    <br />
    <br />
    For the past 3 years, I've been building solutions through code while also teaching
    programming and AI tools to high school students.
  </p>
  <div class="flex flex-col sm:flex-row gap-4 justify-center animate-slide-up">
    <a
      href="https://github.com/jeronimomayorca?tab=repositories"
      target="_blank"
      class="border border-accent hover:bg-accent/10 px-8 py-3 rounded-lg transition-colors font-semibold font-domine"
      aria-label="Explore my projects on GitHub">Check out my work!</a
    >
  </div>
</section>
